.ToDoLable{
    text-align: left;
    margin: 0;
}

.ToDoForm{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ToDoInput{
    height: 30px;
    width: 300px;
}

.ToDoError{
    color: rgb(201, 18, 18);
    text-align: left;
}

.FormikBlock{
    margin-bottom: 20px;
}